fastapi
uvicorn
openai 
python-dotenv  
langgraph 
langchain_community 
langchain-core 
langchain-openai
python-jose[cryptography]
requests  
IPython
langchain_chroma
unstructured
"unstructured[md]" nltk
langchain-text-splitters